.boton-amarillo {
    @include boton($amarillo, inline-block);
    border-radius: .3rem;
}
.boton-amarillo-block {
    @include boton($amarillo, block);
    border-radius: .3rem;
}
.boton-verde {
    @include boton($azul, inline-block);
    border-radius: .3rem;
}
.boton-rojo-block{
    @include boton($rojo, block);
    border-radius: .3rem;
    width: 100%;
}
.boton-verde-block{
    @include boton($azul, block);
    border-radius: .3rem;
}
.boton{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}
